<div class="container">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile colspan="4" rowspan="1" class="primary">AAA</mat-grid-tile>  
    <mat-grid-tile colspan="1" rowspan="1" class="primary">BBB</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" class="">CCC</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"  class="primary">DDD</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="">EEE</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="">FFF</mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" class="">GGG</mat-grid-tile>
  </mat-grid-list>
</div>