.main-events {
    margin: 3rem 0;
    padding: 0 1rem;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.input-field {  
  display: flex;
  flex-wrap: wrap;
}

.example-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}